/* ********** GLOBAL EDIT ********** */
@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;800&display=swap');

:root {
    --color001: #00d9f6;
    --color002: #15C3E8;
    --color003: #167df2;
    --color004: #1F57DB;
    --color005: #002fff;

    --base-font: 'Raleway';
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: var(--base-font);
    font-weight: 400;
    background-color: #cececd;
}

/* ********** HEADER/NAV EDIT ********** */
header {
    background-color: #ffffff;
    max-height: 50px;
}

nav {
    background-color: var(--color001);
    padding: 3px;
}

nav > a {
    color: var(--color005);
    padding: 3px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
}

nav > a:hover {
    background-color: var(--color005);
    color: red;
}

/* **** ABAIXO DO HEADER **** */

.header-bottom {
    background-image: linear-gradient(to right, var(--color005), var(--color002), var(--color005));
    color: white;
    height: 250px;
    text-align: center;
    box-shadow: 0px 10px 16px -9px black;
}

.mod-title01 {
    font-weight: 800;
    color: #ffffff;
    font-size: 40px;
    line-height: 1.6em;
    padding: 5pt;
    text-shadow: 1px 2px 7px black;
}

.mod-parag01 {
    font-size: 10pt;
    text-shadow: 1px 2px 7px black;
}
/* ********** MAIN EDIT ********** */
main {
    min-width: 300px;
    max-width: 800px;
    padding: 20px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: -90px;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 6px 16px -5px black;
}

main a {
    font-weight: bold;
    color: var(--color005);
}

main a:hover {
    color: red;
}

/* ****** ARTICLE EDIT ****** */
article, h2, h3, h4, h5, h6 {
    text-align: justify;
    padding: 5px;
    margin: 5px;
}

article p {
    text-align: justify;
    line-height: 1.7em;
    padding: 5px;
    margin: 5px;
  }

  .map-est-cap {
    text-align: center;
    padding: -5px;
    margin: -5px;
  }

  main, a {
    text-decoration: none;
  }

  .roters {
    font-size: 7pt;
  }

/* ********** FOOTER EDIT ********** */
footer {
    background-color: #002fff;
    color: white;
    text-align: center;
    font-size: 0.9em;
    height: 130px;
    padding: 10px;
}

.links-footer > a {
    margin: 10px;
    padding: 3px;
    text-decoration: none;
    color: #fff;
}

.links-footer > a:hover {
    color: #ff0000;
}

.social-logo > a > img {
    padding: 5px;
    margin: 5px;
}